export("healthyControlsCheck")
importFrom("GEOquery", "getGEO")
importFrom("geneExpressionFromGEO", "dec_two")
importFrom("geneExpressionFromGEO", "readUrl")
importFrom("xml2", "read_html")
importFrom("magrittr","%>%")
